<div id='app_title'><div class='img'><%= image_tag "simplistic/Simplistic_icon.png", width:40, alt:"Simplistic App Icon" %></div><div class='head_title'>Simplistic</div>
<div class='download'><a href='https://itunes.apple.com/us/app/simplistic/id1013231982?ls=1&mt=8' target='_blank'>
<%= image_tag "application/Download_on_the_App_Store_Badge_US-UK_135x40.svg", alt: 'Download on the App Store' %></a>
</div></div>
<p>Simplistic is a dirt simple, easy to use checklist app for your iPhone, iPod and Apple Watch!<br/>
It's the perfect app to handle groceries, DIY projects, daily duties and/or office projects.</p>
<p>
All controls are gesture based to maximize the efficiency:</p>
<p>
iPhone/iPod: <br/>
• One finger long touch to create a new item.<br/>
• One finger single tap to mark item as done/undone.<br/>
• Two fingers long touch to delete done items right away. (Otherwise, automatically removed after 24hrs)</p>
<p>
Watch:<br/>
• One finger single tap to mark item as done/undone.<br/>
• Force Touch shows the menu to delete done items right away. (Otherwise, automatically removed after 24hrs)</p></p>

<h2>iPhone Screenshots</h2>
<%= image_tag "simplistic/iphone1.png", width:300, alt:'Simplistic iPhone/iPod Screenshot #1' %>
<%= image_tag "simplistic/iphone2.png", width:300, alt:'Simplistic iPhone/iPod Screenshot #2' %>
<% image_tag "simplistic/iphone3.png", width:300, alt:'Simplistic iPhone/iPod Screenshot #3' %>
<%= image_tag "simplistic/iphone4.png", width:300, alt:'Simplistic iPhone/iPod Screenshot #4' %>
<%= image_tag "simplistic/iphone5.png", width:300, alt:'Simplistic iPhone/iPod Screenshot #5' %>

<h2>AppleWatch Screenshots</h2>
<%= image_tag "simplistic/watch1.png", width:200, alt:'Simplistic Apple Watch Screenshot #1' %>
<%= image_tag "simplistic/watch2.png", width:200, alt:'Simplistic Apple Watch Screenshot #2' %>
<%= image_tag "simplistic/watch3.png", width:200, alt:'Simplistic Apple Watch Screenshot #3' %>

<h2>Requirements</h2>
&bull; iOS 9<br/>
&bull; WatchOS 2<br/>
